<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="29 seconds">

  <appender name="STDOUT_APPENDER"
    class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <appender name="EnteringMethodHeaderAppender"
    class="ch.qos.logback.core.ConsoleAppender">
    <!--  <withJansi>true</withJansi> -->
    <encoder>
      <Pattern>%-4relative [%thread] %green(---------->) Entering method: %cyan( %C{0}.%M ) %n</Pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <appender name="LeavingMethodHeaderAppender"
    class="ch.qos.logback.core.ConsoleAppender">
    <!--  <withJansi>true</withJansi> -->
    <encoder>
      <Pattern>%-4relative [%thread]             Leaving method : %cyan( %C{0}.%M ) %red(---------->) %n</Pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>
  
  <appender name="METRICS_APPENDER" class="io.prometheus.client.logback.InstrumentedAppender"/>

  <logger name="com.zaxxer.hikari" additivity="false">
    <level value="INFO" />
    <appender-ref ref="STDOUT_APPENDER" />
    <appender-ref ref="METRICS_APPENDER"/>
  </logger>

  <logger name="org.h2" additivity="false">
    <level value="ERROR" />
    <appender-ref ref="STDOUT_APPENDER" />
    <appender-ref ref="METRICS_APPENDER"/>
  </logger>

  <logger name="org.eclipse.jetty" additivity="false">
    <level value="WARN" />
    <appender-ref ref="STDOUT_APPENDER" />
    <appender-ref ref="METRICS_APPENDER"/>
  </logger>

  <logger name="net.barakiroth" level="debug" additivity="false">
    <appender-ref ref="STDOUT_APPENDER" />
    <appender-ref ref="METRICS_APPENDER"/>
  </logger>

  <logger name="EnteringMethodHeader" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="EnteringMethodHeaderAppender" />
    <appender-ref ref="METRICS_APPENDER"/>
  </logger>

  <logger name="LeavingMethodHeader" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="LeavingMethodHeaderAppender" />
    <appender-ref ref="METRICS_APPENDER"/>
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT_APPENDER" />
    <appender-ref ref="METRICS_APPENDER"/>
  </root>

</configuration>